<!--The content below is only a placeholder and can be replaced.-->
<div class="main container">
<h2>{{text}}</h2>
<h2>{{heroes}}</h2>
<h2>{{contentList}}</h2>
    <app-header></app-header>

    <app-banner></app-banner>

    <div class="row main-container">
      <!--<div class="col-md-3 padding-left-0">
        <app-left-sidebar></app-left-sidebar>
      </div>-->
      <div class="col-md-12 padding-right-0">
          <!--<app-right-sidebar></app-right-sidebar>-->
          <app-details></app-details>
      </div>
    </div>
    
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
